.cv-layout {
  background-color: #eee;
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  color: #0b0c0c;
  line-height: 1.5;
  overflow: auto;

  @media print {
    background-color: #fff;

    .work-experience:nth-of-type(2) {
      padding-bottom: 80px;
    }
  }

  .technology {
    font-size: 1em;
  }
}
