.cv-page {
  background-color: white;
  width: 21.5cm;
  height: 27.9cm;
  padding: 2em;
  margin: 0.5em auto;
  max-width: 54em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

  @media print {
    padding: 0 1cm;
    margin: 0;
    max-width: none;
    box-shadow: none;
    height: auto;
    break-after: page;
  }
}
