.work-experience {
  padding: 0.1em 0;
  .work-experience-heading {
    font-size: 1.4em;
    margin: 0.2em 0;

    small {
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  .work-experience-accomplishments {
    padding-left: 1.4em;
    margin: 0.5em 0;
    li {
      list-style-type: disc;
      list-style-position: outside;
    }
  }
}
